body{
    background-color: rgb(145, 144, 144);
}

.header{
    background-color: black;
    display:block;
    border-radius: 0%;
    margin: 0px;

}

.header-logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
}

.header-menu{
    display:flex;
    justify-content: center;
    gap:5%;
}

.header-menu-item{
    color:white;
    text-decoration: none;
    font-family: Arial;
    font-size: large;
}

.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border-radius: 20px
}

.main-h3{
    font-family:Arial;
    font-size: x-large;
}

.main-sub{
    color:rgb(41, 40, 40);
    font-weight: light;
    font-family:Arial;
}

.vid{
    width:40%;
    border-radius: 10%;
}

.vid-container{
    background-color: rgb(33, 33, 34);
    display:flex;
    gap:15%;
    border-radius: 10%;
}
.containter-text{
    display: block;
    font-family: Arial;
}
.container-text-head{
    color:white;
    font-family: Arial
}

.container-text-body{
    color:white;
    font-family: Arial;
    font-size:large;
}

.button-i{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    text-transform: uppercase;
    border-radius: 30%;
    font-family: Arial;
    font-size: x-large;
    background-color: blueviolet;
    color:white;
    text-shadow: 2cap;
    text-decoration: none;

}
.btn-a{
    text-decoration: none;
}

.qna{
    color: rgb(19, 19, 19);
}

.qna-intro{
    font-family: Arial;
    font-size:xx-large;
    text-align: center;
}

.qna-q{
    font-family: Arial;
    font-weight: bolder;
    font-size:larger;
}

a{
    color:inherit;
}

.qna-a{
    font-family: Arial;
    font-weight: light;
}

.footer{
    background-color:rgb(22, 21, 21);
    color:white;
    display: block;
    font-family: Arial;
    text-align: center;

}

.footer-images{
    display:flex;
    justify-content: center ;
    margin-bottom: 10%;
    gap:3%;
}

.footer-img{
    width:10%;
}
