.header {
    background-color: rgb(70, 70, 70);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    color:white;
    margin-right: 50px;
    font-family: Calibri;
    font-size:large;
}

.menu-item-last{
    color:white;
    font-family: Calibri;
    font-size:large;    
}

.image-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    border-radius: 10px;
}

.main1{
    background-image: url('main.');
}

.main1-p{
    color:rgb(0, 0, 0);
    font-family: Arial;
    font-size: large;
    font-weight: lighter;
    letter-spacing: 2px;

}

.main1-h1{
    font-family: Arial;
    font-size: xx-large;
}

.quote-btn{
    background-color: blueviolet;
    border-radius: 30px;
    border:0px;
    width: 150px;
    height:70px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 30px;
    color:white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.quote-btn:hover{
    background-color: gray;
    color: white;
}

.qna{
    color: gray;
}

.qna-intro{
    font-family: Arial;
    font-size:xx-large;
    text-align: center;
}

.qna-q{
    font-family: Arial;
    font-weight: bolder;
    font-size:larger;
}

a{
    color:inherit;
}

.qna-a{
    font-family: Arial;
    font-weight: light;
}

.footer{
    font-family: Arial;
    font-weight: lighter;
    font-size:medium;
    color:gray;
    text-align: center;
}