body{
    background: #201F1F;
}

.lang-bar{
    display: flex;
    justify-content: right;
    gap:30px;
}

.menu-header{
    background: #D9D9D9;
    display: flex;
    padding:0.5%;
    justify-content: center;
    gap:50px;

}

.a-menu{
    text-decoration: none;
    color:black;
    font-family: Arial;
    font-size: large;
}

.about-us{
    font-size: xx-large;
    color:white;
    font-family: Arial;
    text-align: center;
}

.main-text{
    color:white;
    text-align: center;
    font-family: Arial;
    font-size: large;
}

.footer{
    display:flex;
    flex-direction: column;
    background: black;
    align-items: center;
}

.logo-footer{
    width:327px;
}

.social-footer{
    display:flex;
    gap:10px;
}

.social-footer img{
    width:53px;
}

@media(max-width:768px){
    .a-menu{
        font-size: small;
    }
    .logo-header{
        width:50%;
    }
}