.intro{
    font-family: Arial;
    font-size: xx-large;

}

.main{
    font-family:Arial;
    font-size:medium;
}

.image-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

a{
    text-decoration:none;
}

.bottom-button{
    background-color: blueviolet;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:50px;
    border-radius: 30px;
    color:white;
}

.before-btn{
    text-align: center;
    font-family: Arial;
    
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    color:white;
    margin-right: 50px;
    font-family: Calibri;
    font-size:large;
    text-align: center;
}

.menu-item-last{
    color:white;
    font-family: Calibri;
    font-size:large; 
    text-decoration: none;   
}

.header {
    background-color: rgb(70, 70, 70);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.footer{
    font-family: Arial;
    font-weight: lighter;
    font-size:medium;
    color:gray;
    text-align: center;
}