body{
    background: black;
    font-family: Arial;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}
.header{
    display: flex;
    align-items: center;
    gap:20%;
}
.header-logo{
    width:15%;
}

.menu-header{
    gap:93px;
    display: flex;
    background-color: #3C3C3C;
    padding:1%;
    border-radius: 10px;
}

.menu-header a{
    text-decoration: none;
    color:white;
}

.lang-bar{
    gap:100px;
}

.products-list{
    display:flex;
    justify-content: center;
    gap:50px;
}

.intro{
    text-align: center;
}

.product{
    background-color: #837F7F;
    padding:1%;
    justify-items: center;
    border-radius:10px;
}

.product img{
    width:350px;
    border-radius: 10px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.buttons-flex{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.demo-button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: x-large;
    border-color: black;
    background-color:#837F7F;
    color:black;
    border-width: 3px;
    border-radius: 10px;
}

.footer{
    background-color: #3C3C3C;
}

footer img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

@media (max-width:768px) {
    
    .header-logo{
        width:50%;
    }
    .header{
        flex-direction: column;
        gap:10px;
    }

    .menu-header{
        width:100%;
        gap:10%;
        justify-content: center;
    }

    .products-list{
        flex-direction: column-reverse;
    }
}