body{
    background: black;
    font-family: Arial;
    color:white;
  overflow-x: hidden;
}



a{
    text-decoration: none;
    color:white;
}
.header{
    display: flex;
    align-items: center;
    gap:20%;
}
.header-logo{
    width:15%;
}

.menu-header{
    gap:93px;
    display: flex;
    background-color: #3C3C3C;
    padding:1%;
    border-radius: 10px;
}

.menu-header a{
    text-decoration: none;
    color:white;
}

.lang-bar{
    gap:10px;
    display:flex;
}

.product-page {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.product-info{
    display:block;
}
.product-image{
    width:600px;
    margin-left:20px;
}

.product-info h4{
    margin-top:0px;
    margin-left:5px;
    font-size: large;
}

.product-info h1{
    margin-bottom: 5px;
}


.buttons-flex{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.demo-button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: x-large;
    border-color: white;
    background-color: black;
    color:white;
    border-width: 3px;
    border-radius: 10px;
}
.product-info p,ul {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}
.footer{
    background-color: #3C3C3C;
}

footer img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}


@media (max-width:768px) {
    .header-logo{
        width:50%;
    }
    .header{
        flex-direction: column;
        gap:10px;
    }

    .menu-header{
        width:100%;
        gap:10%;
        justify-content: center;
    }

    .product-page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
    }

    .product-image{
        width:80%;

    }

    .product-info p,ul {
    width: 90%;
    text-align: center;
    }

    .footer img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:50%
    }

}